<form ng-submit="formSubmit()">
<div class="container">
  <div class="row">
    <div class="col-sm-6 center-block">


      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title"><strong>Logowanie</strong></h3>
        </div>

        <div class="panel-body">

          <div ng-if="errors.login" class="alert alert-danger">{{errors.login}}</div>
          
          <div class="form-group" ng-class="{ 'has-error' : errors.login }">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="input.email" placeholder="Twój adres e-mail">
          </div>

          <div class="form-group" ng-class="{ 'has-error' : errors.login }">
            <label>Hasło</label>
            <input type="password" class="form-control" ng-model="input.password" placeholder="Twój hasło">
          </div>

          <br>

          <button class="btn btn-primary btn-block">Zaloguj się</button>

        </div>
      </div>

    </div>
  </div>
</div>
</form>