<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <h2>
            {{product.name}}
            <span class="label label-warning pull-right">cena: {{product.price | number:2}} zł</span>
          </h2>

          <h3><span class="label label-info">Waga: {{product.weight}} kg</span></h3>
          <br>

          <p>{{product.desc}}</p>
          <br>

          <a href="#/products" class="btn btn-default">Powrót</a>
          <button ng-click="addToCart( product )" class="btn btn-primary">Dodaj do koszyka</button>

        </div>
      </div>

    </div>
  </div>
</div>