<form ng-submit="saveChanges( user )">

<div class="container">
  <div class="row">

    <div class="col-sm-4 center-block">

      <div class="form-group">
        <label>Imię</label>
        <input type="text" class="form-control" ng-model="user.name">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" ng-model="user.email">
      </div>

      <div class="form-group">
        <label>Nowe hasło</label>
        <input type="password" class="form-control" ng-model="user.password">
      </div>

      <div class="form-group">
        <label>Powtórz hasło</label>
        <input type="password" class="form-control" ng-model="user.passconf">
      </div>

      <div class="form-group">
        <label>Rola</label>
        <select class="form-control" ng-model="user.role">
          <option value="user">user</option>
          <option value="admin">admin</option>
        </select>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
      <a href="#/admin/users" class="btn btn-default">Wróć bez zmian</a>
      <p>&nbsp;</p>                      

    </div>

  </div>
</div>

</form>